{% extends 'layout.html' %}
{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/about-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Coding Blog</h1>
                            <span class="subheading">Haven for coders</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Welcome to our Coding Blog, a haven for developers, programmers, and tech enthusiasts. Here, we believe in the power of sharing knowledge and fostering a community where learning and growth are paramount. Whether you are a beginner just starting your coding journey or an experienced professional looking to stay updated with the latest trends and best practices, our blog provides a wealth of information tailored to your needs. Our content ranges from in-depth tutorials and coding challenges to insightful articles on industry trends, ensuring that you have access to comprehensive resources that will help you excel in your programming endeavors.</p>
                        <p>At the heart of our blog is a commitment to quality and accessibility. We understand that the world of coding can sometimes be intimidating, with complex concepts and ever-evolving technologies. That's why our posts are written by experienced developers who are passionate about making coding more approachable and enjoyable. Each article is crafted to break down complex topics into manageable, easy-to-understand pieces, complete with practical examples and step-by-step guides. Our aim is to demystify the intricacies of coding, empowering you to tackle projects with confidence and creativity.</p>
                        <p>Beyond just articles, our Coding Blog is a vibrant community where you can connect with like-minded individuals, ask questions, share your projects, and gain valuable feedback. We host regular discussions, webinars, and collaborative projects that encourage interaction and mutual learning. This supportive environment not only enhances your skills but also provides a platform to showcase your talents and build meaningful connections within the tech community. Join us in this journey of discovery and innovation, and make our blog your go-to resource for all things coding.</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        
{% endblock %}