{% extends 'layout.html' %}
{% block content %}
        <!-- Page Header-->
        <header class="masthead mb-0" style="background-image: url('   {{ url_for('static', filename = 'assets/img/home-bg.jpg') }}  ')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">  
                            <h1>Add a post here</h1>
                            <span class="subheading">Below is a form to add post</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>All the fields are required to be filled. Upon submitting, your post will be displayed on the home page.</p>
                        <hr>
                        <div class="my-5">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form id="contactForm" action="/edit/0" method = "post" data-sb-form-api-token="API_TOKEN">
                                <div class="form-floating">
                                    <input class="form-control" id="name" name = "title" type="text" placeholder="Enter the title of your post..." data-sb-validations="required" />
                                    <label for="name">Title</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Title is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="email" name = "tagline" type="text" placeholder="Enter the tagline" data-sb-validations="required,email" />
                                    <label for="email">Tagline</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">Tagline is required.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="phone" name = "slug" type="text" placeholder="Write a slug route for your post..." data-sb-validations="required" />
                                    <label for="phone">Slug</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">A slug is required.</div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="message" name = "content" placeholder="Enter your content here..." style="height: 12rem" data-sb-validations="required"></textarea>
                                    <label for="message">Content</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">Content is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="name" name = "postby" type="text" placeholder="Enter the auther of the post..." data-sb-validations="required" />
                                    <label for="name">Posted  by</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Author name is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="name" name = "imgfile" type="text" placeholder="Enter the image file name..." data-sb-validations="required"/>
                                    <label for="name">Image file</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Image file name is required.</div>
                                </div>
                                <br />
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Sumit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        {% endblock %}