{% extends 'layout.html' %}
{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('   {{ url_for('static', filename = 'assets/img/home.jpeg') }}  ')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{params["blog_name"]}}</h1>
                            <span class="subheading">{{params["tag_line"]}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div style="height:60px">
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                        {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">




                    <!-- To be extracted from the database and fetch and render here -->
                    {% for post in posts %}
                    <!-- Post preview-->
                        <div class="post-preview">
                            <a href="post/{{ post.slug }}">
                                <h2 class="post-title">{{post.title}}</h2>
                                <h3 class="post-subtitle">{{post.tagline}}</h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">{{post.post_by}}</a>
                                on {{post.time}}
                            </p>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />
                    {% endfor %}



                    <!-- Post preview-->
                    
                    <!-- Pager-->
                     {% if posts|length != 0 %}
                    <div class="clearfix">
                        <a class="btn btn-primary text-uppercase float-start" href="{{prev}}">&larr; Previous</a>
                        <a class="btn btn-primary text-uppercase float-end" href="{{ next }}">Next &rarr;</a>
                    </div>
                    {% else %}
                    <div class="container text-center">
                        <h3>No posts as of now</h3>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Footer-->
        {% endblock %}

<!-- {{url_for('static', filename = 'assets/img/home-bg.jpg')}} -->